<div class="transaction-list-container">
  <h3>Recent Transactions</h3>
  <div *ngIf="transactions.length > 0; else noTransactions">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Token</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tx of transactions">
          <td>{{ tx.date.toDate() | date:'short' }}</td>
          <td>{{ tx.description }}</td>
          <td>{{ tx.amount | number }}</td>
          <td>{{ tx.token }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noTransactions>
    <p>No transactions available.</p>
  </ng-template>
</div>
