<section class="grid-section">
  <div class="grid-container">
    @for (item of gridItems; track item; let i = $index) {
      <div
        class="grid-item"
        [class.active]="item.active"
        (click)="!item.active && toggleItem(i)"
        >
        @if (!item.active) {
          <div class="grid-title">{{ item.title }}</div>
        }
        @if (item.active) {
          <div class="grid-content" (click)="$event.stopPropagation()">
            <button class="close-btn" (click)="closeItem(i)">✖</button>
            <!-- Dynamically load the resume component only for the correct item -->
            @switch (item.title) {
              @case ('Professional Summary') {
                <app-resume-card></app-resume-card>
              }
              @case ('About Me') {
                <app-aboutme-card></app-aboutme-card>
              }
              @default {
                <div [innerHTML]="item.content"></div>
              }
            }
            <ng-template #defaultContent>
              <div [innerHTML]="item.content"></div>
            </ng-template>
          </div>
        }
      </div>
    }
  </div>
</section>
