<section id="about" class="about-section">
  <h2 class="glitch" [attr.data-text]="translate('about.title')">{{ translate('about.title') }}</h2>

  <p [innerHTML]="translate('about.intro')"></p>

  <p [innerHTML]="translate('about.description')"></p>

  <h3>{{ translate('about.drives.title') }}</h3>
  <ul>
    <li [innerHTML]="translate('about.drives.innovation')"></li>
    <li [innerHTML]="translate('about.drives.quality')"></li>
    <li [innerHTML]="translate('about.drives.global')"></li>
  </ul>

  <h3>{{ translate('about.beyond.title') }}</h3>
  <ul>
    <li><strong class="keyword">Full-Stack</strong> {{ translate('about.beyond.fullstack') }}</li>
    <li><strong class="keyword">Cloud & DevOps</strong> {{ translate('about.beyond.cloud') }}</li>
    <li><strong class="keyword">Modern Architecture</strong> {{ translate('about.beyond.modern') }}</li>
  </ul>

  <h3>{{ translate('about.levelup.title') }}</h3>
  <ul>
    <li [innerHTML]="translate('about.levelup.research')"></li>
    <li [innerHTML]="translate('about.levelup.innovation')"></li>
  </ul>
</section>