<div class="donation-form-container">
  <h3>Support with KASPA</h3>
  <div class="wallet-info">
    <p>kaspa:qpg5xnu998y4ycaug0m85gs3wuy7hmpj66a0ygqkcn8797e4paqlxre4jz7xa</p>
    <img [src]="qrCodeUrl" alt="KASPA QR Code">
  </div>
  <form (ngSubmit)="submitDonation()">
    <textarea [(ngModel)]="message" name="message" placeholder="Leave a nice message..."></textarea>
    <button type="submit">Submit Message</button>
  </form>
  <p *ngIf="confirmationMessage" class="confirmation">{{ confirmationMessage }}</p>
</div>
