@if (loading) {
  <div class="glitch-loader">
    <span>Loading Guestbook...</span>
  </div>
}

@if (!loading) {
  <div class="guestbook-container">
    <h2>📓 Leave Your Glitchy Mark</h2>
    <form (ngSubmit)="submitMessage()" #form="ngForm" class="guestbook-form">
      <input
        type="text"
        placeholder="Nickname"
        [(ngModel)]="nickname"
        name="nickname"
        required
        [readonly]="nickname !== ''"
        />
      <textarea
        placeholder="Message"
        [(ngModel)]="message"
        name="message"
        required
      ></textarea>
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </form>
    @if (error) {
      <div class="error">{{ error }}</div>
    }
    <div class="guestbook-comments">
      <ul>
        @for (entry of entries; track entry) {
          <li>
            <strong>{{ entry.nickname }}</strong>
            <em>({{ formatTimestamp(entry.timestamp) }})</em>:
            {{ entry.message }}
          </li>
        }
      </ul>
      @if (loadingMore) {
        <div class="glitch-loader">
          <span>Loading more entries...</span>
        </div>
      }
      @if (!loadingMore && lastKey) {
        <button
          (click)="loadMoreEntries()"
          class="load-more-btn">
          ⬇️ Load More
        </button>
      }
    </div>
  </div>
}
